.cabecalho {
    background-color: gold;
    color:white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 20%;
    height: 50%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}